<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>types</key>
		<array>
			<string>DateText</string>
			<string>SpacingText</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>textColor</key>
				<string>#000000</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#4e7de9</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#00cc63</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#e44234</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Highlight</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#ffff00</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00ff00</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00ffff</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#ff00ff</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Underline</string>
			<string>Squiggly</string>
			<string>StrikeOut</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#e44234</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00cc63</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#4e7de9</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>FreehandHighlight</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#ffff00</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00ff00</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00ffff</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#ff00ff</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>FreeText</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>textColor</key>
				<string>#e44234</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#00cc63</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#4e7de9</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#000000</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Callout</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>textColor</key>
				<string>#e44234</string>
				<key>color</key>
				<string>#e44234</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#00cc63</string>
				<key>color</key>
				<string>#00cc63</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#4e7de9</string>
				<key>color</key>
				<string>#4e7de9</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
			<dict>
				<key>textColor</key>
				<string>#000000</string>
				<key>color</key>
				<string>#000000</string>
				<key>textSize</key>
				<real>16</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Ink</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#e44234</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00cc63</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#4e7de9</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Square</string>
			<string>Redact</string>
			<string>TextRedact</string>
			<string>Circle</string>
			<string>Polygon</string>
			<string>Cloudy</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#e44234</string>
				<key>fillColor</key>
				<string>#00000000</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00cc63</string>
				<key>fillColor</key>
				<string>#00000000</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#4e7de9</string>
				<key>fillColor</key>
				<string>#00000000</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#ffcd45</string>
				<key>fillColor</key>
				<string>#00000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Line</string>
			<string>Arrow</string>
			<string>Polyline</string>
			<string>Ruler</string>
			<string>Perimeter</string>
			<string>Area</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#e44234</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00cc63</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#4e7de9</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Link</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>color</key>
				<string>#e44234</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#00cc63</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#4e7de9</string>
			</dict>
			<dict>
				<key>color</key>
				<string>#000000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Text</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>fillColor</key>
				<string>#e44234</string>
				<key>opacity</key>
				<real>1</real>
			</dict>
			<dict>
				<key>fillColor</key>
				<string>#00cc63</string>
				<key>opacity</key>
				<real>1</real>
			</dict>
			<dict>
				<key>fillColor</key>
				<string>#4e7de9</string>
				<key>opacity</key>
				<real>1</real>
			</dict>
			<dict>
				<key>fillColor</key>
				<string>#000000</string>
				<key>opacity</key>
				<real>1</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>types</key>
		<array>
			<string>Eraser</string>
		</array>
		<key>presets</key>
		<array>
			<dict>
				<key>thickness</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>thickness</key>
				<integer>10</integer>
			</dict>
			<dict>
				<key>thickness</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>thickness</key>
				<integer>40</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
