<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone</key>
	<real>139.77</real>
	<key>iPhone5,1</key>
	<real>90.39</real>
	<key>iPhone5,2</key>
	<real>90.39</real>
	<key>iPhone5,3</key>
	<real>90.39</real>
	<key>iPhone5,4</key>
	<real>90.39</real>
	<key>iPhone6,1</key>
	<real>90.39</real>
	<key>iPhone6,2</key>
	<real>90.39</real>
	<key>iPhone7,1</key>
	<real>121.54</real>
	<key>iPhone7,2</key>
	<real>104.05</real>
	<key>iPhone8,1</key>
	<real>104.05</real>
	<key>iPhone8,4</key>
	<real>90.39</real>
	<key>iPhone8,2</key>
	<real>121.54</real>
	<key>iPhone9,1</key>
	<real>104.05</real>
	<key>iPhone9,2</key>
	<real>121.54</real>
	<key>iPhone9,3</key>
	<real>104.05</real>
	<key>iPhone9,4</key>
	<real>121.54</real>
	<key>iPhone10,1</key>
	<real>104.05</real>
	<key>iPhone10,2</key>
	<real>121.54</real>
	<key>iPhone10,3</key>
	<real>135.75</real>
	<key>iPhone10,4</key>
	<real>104.05</real>
	<key>iPhone10,5</key>
	<real>121.54</real>
	<key>iPhone10,6</key>
	<real>135.75</real>
	<key>iPhone11.2</key>
	<real>135.75</real>
	<key>iPhone11.4</key>
	<real>149.71</real>
	<key>iPhone11,6</key>
	<real>149.71</real>
	<key>iPhone11,8</key>
	<real>139.78</real>
	<key>iPhone12,1</key>
	<real>139.78</real>
	<key>iPhone12,3</key>
	<real>134.96</real>
	<key>iPhone12,5</key>
	<real>148.91</real>
	<key>iPhone12,8</key>
	<real>104.05</real>
	<key>iPhone13,1</key>
	<real>124.96</real>
	<key>iPhone13,2</key>
	<real>139.77</real>
	<key>iPhone13,3</key>
	<real>139.77</real>
	<key>iPhone13,4</key>
	<real>153.90</real>
	<key>iPhone14,2</key>
	<real>139.77</real>
	<key>iPhone14,3</key>
	<real>153.90</real>
	<key>iPhone14,4</key>
	<real>124.96</real>
	<key>iPhone14,5</key>
	<real>139.77</real>
	<key>iPad</key>
	<real>196.47</real>
	<key>iPad2,5</key>
	<real>161.2</real>
	<key>iPad2,6</key>
	<real>161.2</real>
	<key>iPad2,7</key>
	<real>161.2</real>
	<key>iPad3,4</key>
	<real>198.1</real>
	<key>iPad3,5</key>
	<real>198.1</real>
	<key>iPad3,6</key>
	<real>198.1</real>
	<key>iPad4,1</key>
	<real>198.1</real>
	<key>iPad4,2</key>
	<real>198.1</real>
	<key>iPad4,3</key>
	<real>198.1</real>
	<key>iPad4,4</key>
	<real>161.2</real>
	<key>iPad4,5</key>
	<real>161.2</real>
	<key>iPad4,6</key>
	<real>161.2</real>
	<key>iPad4,7</key>
	<real>161.2</real>
	<key>iPad4,8</key>
	<real>161.2</real>
	<key>iPad4,9</key>
	<real>161.2</real>
	<key>iPad5,1</key>
	<real>161.2</real>
	<key>iPad5,2</key>
	<real>161.2</real>
	<key>iPad5,3</key>
	<real>203.11</real>
	<key>iPad5,4</key>
	<real>203.11</real>
	<key>iPad6,3</key>
	<real>203.11</real>
	<key>iPad6,4</key>
	<real>203.11</real>
	<key>iPad6,7</key>
	<real>262.27</real>
	<key>iPad6,8</key>
	<real>262.27</real>
	<key>iPad6,11</key>
	<real>196.47</real>
	<key>iPad6,12</key>
	<real>196.47</real>
	<key>iPad7,1</key>
	<real>262.27</real>
	<key>iPad7,2</key>
	<real>262.27</real>
	<key>iPad7,3</key>
	<real>213.50</real>
	<key>iPad7,4</key>
	<real>213.50</real>
	<key>iPad7,5</key>
	<real>196.47</real>
	<key>iPad7,6</key>
	<real>196.47</real>
	<key>iPad7,11</key>
	<real>207.36</real>
	<key>iPad7,12</key>
	<real>207.36</real>
	<key>iPad8,1</key>
	<real>230.25</real>
	<key>iPad8,2</key>
	<real>230.25</real>
	<key>iPad8,3</key>
	<real>230.25</real>
	<key>iPad8,4</key>
	<real>230.25</real>
	<key>iPad8,5</key>
	<real>263.27</real>
	<key>iPad8,6</key>
	<real>263.27</real>
	<key>iPad8,7</key>
	<real>263.27</real>
	<key>iPad8,8</key>
	<real>263.27</real>
	<key>iPad8,9</key>
	<real>230.25</real>
	<key>iPad8,10</key>
	<real>230.25</real>
	<key>iPad8,11</key>
	<real>262.27</real>
	<key>iPad8,12</key>
	<real>262.27</real>
	<key>iPad11,1</key>
	<real>160.74</real>
	<key>iPad11,2</key>
	<real>160.74</real>
	<key>iPad11,3</key>
	<real>213.50</real>
	<key>iPad11,4</key>
	<real>213.50</real>
	<key>iPad11,6</key>
	<real>207.36</real>
	<key>iPad11,7</key>
	<real>207.36</real>
	<key>iPad13,1</key>
	<real>227.56</real>
	<key>iPad13,2</key>
	<real>227.56</real>
	<key>iPad13,4</key>
	<real>230.25</real>
	<key>iPad13,5</key>
	<real>230.25</real>
	<key>iPad13,6</key>
	<real>230.25</real>
	<key>iPad13,7</key>
	<real>230.25</real>
	<key>iPad13,8</key>
	<real>262.27</real>
	<key>iPad13,9</key>
	<real>262.27</real>
	<key>iPad13,10</key>
	<real>262.27</real>
	<key>iPad13,11</key>
	<real>262.27</real>
	<key>iPad14,1</key>
	<real>177.75</real>
	<key>iPad14,2</key>
	<real>177.75</real>
	<key>iPod5,1</key>
	<real>88.61</real>
	<key>iPod7,1</key>
	<real>88.61</real>
	<key>iPod9,1</key>
	<real>88.61</real>
</dict>
</plist>
