<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>Viewer</string>
		<key>settings</key>
		<array>
			<dict>
				<key>key</key>
				<string>tabsEnabled</string>
				<key>defaultValue</key>
				<true/>
				<key>name</key>
				<string>Show Tabs</string>
				<key>description</key>
				<string>Shows tabs for documents in the viewer.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>automaticallyHideToolbars</string>
				<key>defaultValue</key>
				<false/>
				<key>name</key>
				<string>Automatically Hide Toolbars</string>
				<key>description</key>
				<string>Automatically hides toolbars after 5 seconds.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>stopScreenFromDimming</string>
				<key>defaultValue</key>
				<false/>
				<key>name</key>
				<string>Stop Screen From Dimming</string>
				<key>description</key>
				<string>Stop the screen from dimming while viewing a document.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>navigationHistoryEnabled</string>
				<key>defaultValue</key>
				<true/>
				<key>name</key>
				<string>Show Navigation History</string>
				<key>description</key>
				<string>Show buttons to navigate back/forward after following a link or using go-to-page.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>javascriptEnabled</string>
				<key>defaultValue</key>
				<true/>
				<key>name</key>
				<string>Enable Javascript</string>
				<key>description</key>
				<string>Enables javascript execution in PDF documents.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>colorManagementEnabled</string>
				<key>defaultValue</key>
				<true/>
				<key>name</key>
				<string>Enable Color Management</string>
				<key>description</key>
				<string>Color management will make some PDFs that were intended for printing display with more accurate colors, but may also lead to slightly slower rendering.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>showRightToLeftViewerSetting</string>
				<key>defaultValue</key>
				<false/>
				<key>name</key>
				<string>Enable Right to Left Language Viewer Setting</string>
				<key>description</key>
				<string>Shows an option in the viewer settings to turn on the right to left view mode.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Annotations</string>
		<key>settings</key>
		<array>
			<dict>
				<key>key</key>
				<string>pencilHighlightMultiplyBlendModeEnabled</string>
				<key>defaultValue</key>
				<true/>
				<key>name</key>
				<string>Apple Highlighter Mode</string>
				<key>description</key>
				<string>When enabled, newly-added annotations made using only the highlighter will look more like real-life highlights.</string>
				<key>minOSVersion</key>
				<string>14.0</string>
				<key>unavailableValue</key>
				<false/>
			</dict>
			<dict>
				<key>key</key>
				<string>freeHandHighlightSmoothingEnabled</string>
				<key>defaultValue</key>
				<false/>
				<key>name</key>
				<string>Free Highlighter Smoothing</string>
				<key>description</key>
				<string>When enabled, free highlighter strokes are automatically turned into straight lines when appropriate.</string>
			</dict>
			<dict>
				<key>key</key>
				<string>selectAnnotationAfterCreation</string>
				<key>defaultValue</key>
				<false/>
				<key>name</key>
				<string>Automatic Shape and Text Annotation Selection</string>
				<key>description</key>
				<string>Automatically selects newly created shape and text annotations.</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>category</key>
		<string>Apple Pencil</string>
		<key>settings</key>
		<array>
			<dict>
				<key>name</key>
				<string>Apple Pencil Settings</string>
				<key>settingsPlist</key>
				<string>PTApplePencilSettings</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
